.lightup:hover {
    color: orangered !important;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    z-index: 999;
}

.icon:hover{
    opacity: 50%;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    z-index: 999;
}

.location:hover {
    color: limegreen !important;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    z-index: 999;
}
